*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px auto;
  background-color: #f5f5f5;
  line-height: 1.5;
  font-size: 16px;
}

header {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
  align-items: center;
}

header h1 {
  margin-left: 10px;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
}

/* form and input */
.form-input {
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-input-filter {
  width: 100%;
  font-size: 18px;
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
}

/* buttons */
.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #444;
}

.btn-link {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-link:hover {
  color: red;
}

.btn-clear {
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  padding: 10px 20px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: #f1f1f1;
}

/* Items */
.items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.items li {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: 0 5px 20px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .items li {
    width: 100%;
  }
}
